
/* prevent weird highlights https://stackoverflow.com/questions/21003535/ */
.no-select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* hidden elements should be hidden regardless of their display style */
[hidden] { display: none !important; }

/* default to width/height including padding and border */
* { box-sizing: border-box; }

/* used dynamically to prevent or cancel smooth transitions */
.skip-transition { transition: none !important; }

/* make buttons inherit font */ 
button { font-family: inherit; font-size: inherit; }

/* clickable things should use this cursor imo */
button, a { cursor: pointer; }

/* crisp pixelart */
canvas, image {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

html, body {
    margin: 0;
    padding: 0;

    font-family: monospace;
    font-size: larger;

    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);

    background: url('http://kool.tools/world-of-bitsy.jpg');
    background-position-x: center;
    background-size: 200%;

    overflow-x: hidden;
}

body { display: flex; }
h2 { margin: auto; }

main {
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;

    width: 32rem;
    margin: auto;

    background: black;
    color: white;
}

label {
    display: flex;
}

label > * {
    flex: 1;
}

input {
    flex: 1;
}

input[type="checkbox"] {
    flex: 0;
}

button { font-size: large; margin: auto; }

div {
    flex: 1;
}

.audio-row {
    display: grid;
    grid-template-columns: 50% 35% 15%;

    justify-items: center;
    align-items: center;
}

#rooms {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.room-row {
    display: grid;
    grid-template-columns: 50% 50%;

    justify-items: center;
    align-items: center;
}

.room-row select {
    max-width: 50%;
}

select {
    padding: .25em .5em;
    border-radius: .25em;
    background: #222;
    color: white;
    border: none;
}
